<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Mochi Blog</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

        <!--Sign up page style-->
        <link href="/style/style.css" rel="stylesheet">
         <!-- Bootstrap Core CSS -->
        <link href="/style/bootstrap.min.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="/style/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <!--Login Style-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

        <!-- Theme CSS -->
        <link href="/style/grayscale.min.css" rel="stylesheet">
    
        <script src='https://www.google.com/recaptcha/api.js'></script>
    </head>
    <body style="background-image: url('/background/blogimage.jpg'); position: relative; top: 100px">
        <!-- Bootstrap nav bar goes here -->
        <div class="container">
            {{{body}}}
        </div>
        <footer class="container"> 
        <div class="row">
            <div class="col-lg-12">
                <p class="copyrightStyle">Copyright &copy; Mochi 2016</p>
            </div>
        </div>
    </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    </body>
</html>
