    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
               <a style="font-size: 25px;" class="navbar-brand page-scroll" href="/">
                    <i class="fa fa-play-circle"></i> Mochi
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <!--<li>
                        <a class="page-scroll" href="/login">Login</a>
                    </li>-->
                    <!--<li>
                        <a class="page-scroll" href="/">Go back Mochi</a>
                    </li>-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <body class="intro" style="background-image: url('/background/startupImage.jpg')">
        <div class="intro-body">
            <div class="container startupTextPosition">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2" style="left: 50px">
                        <h1 class="welcomeTextFont">S<span class="startupTextStyle">ee you again</span></h1>
                        <p class="intro-text">Eat. Sleep. Blog.
                            <br></p>
                    </div>
                </div>
            </div>
        </div>
    </body>

   
